.bottom {
    width: 100%;
    position: relative;
    display: block;
    bottom: -53px;

    &__links {
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: 80%;
        margin-left: 20%;
        &__container {
            width: 50%;
            display: grid;
            margin: 5rem 0 5rem 0;
            &__title{
                font-weight: bold;
                color: $white;
                margin-bottom: 1rem;
                line-height: 27px;
            }

            &__text {
                color: $white;
                text-decoration: none;
                line-height: 27px;
            }
        }
    }

    &__logo {
        margin: 1rem;
        padding-bottom: 6rem;

        &__link {
            position: relative;
            top: 1rem;
            right: -96%;
        }
    }

    &--background-blue {
        background-color: $productColor;
    }
}

@media(max-width: $query-mobile) {
    .bottom {

        &__links {
            grid-template-columns: none;
            grid-template-rows: repeat(3, auto);
            margin: 0;
            padding: 5rem 0 0 1.5rem;
            width: 90%;

            &__container {
                margin: 0 0 4.4rem 0;
                &__title {
                    margin-bottom: 1.5rem;
                    width: auto;
                }

                &__text {
                    width: auto;
                }
            }

        }

        &__logo {

            &__link {
                right: -83.5%;
                top: 0.7rem;
            }
        }

    }
}
