.menu {
    display: block;
    min-width: 340px;
}

.menu-up {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    position: relative;
    top: 0;
    min-height: 4em;
    
    &__left {
    
    }

    &__right {
        display: inline-flex;
    }
    
    &__select {
        height: 2.2em;
        margin: 1em 0 1em 0;
    }
    
    &__list {
        display: inline-flex;
        list-style-type: none;
        padding-left: 0;
        align-items: center;
        margin: 0;
        height: 5em;
        margin-top: 1em;

        &__list-element {
            margin-left: 2em;

            &--small-font {
                font-size: 13px;
            }

            &--big-font {
                font-size: 17px;
            }

            &--big-btn-shape {
                padding: 47px 78px 20px 115px;
                white-space: nowrap;
            }

            &--small-btn-shape {
                padding: 47px 35px 20px 35px;
                white-space: nowrap;
            }

            &--btn-position {
                position: relative;
                right: 4rem;
            }

            &--blue {
                background-color: $productColor;
            }

            &--del-decorations {
                text-decoration: none;
                color: black;
            }

            &--del-decorations-white {
                text-decoration: none;
                color: $white;
            }

            &--additional-margin {
                margin: 0 0rem 0 4rem;
            }

            &--delete-margin {
                margin: 0;
            }

            @include add-arrow;
        }

        &--mobile {
            display: flex;
        }
    }
}

.menu-down {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding-left: 17%;
    display: inline-flex;

    &__list {
        
        &__element {
            display: inline-flex;
            list-style: none;
            font-size: 19px;
            line-height: 27px;
            margin: 0.5em 1.4em 0 1.4em;   

            &:after{
                position: absolute;
                content: '';
                height: 3px;
                bottom: -4px;
                background: $secondaryColor;
                left: 0;
                width: 0;
                display: block;
                transition: width 0.2s ease-in-out;
            }

            &:hover, &--selected {
                text-decoration: none;
                position: relative;
                font-weight: bold;
                cursor: pointer;

                &:after {
                    width: 40%;
                }
            }
            &:hover{ 
                
                &:after {
                    width: 100%;
                }
            }
        }
        &__title {
            display: inline-flex;
            list-style: none;
            font-size: 19px;
            line-height: 27px;
            margin: 0.5em 1.4em 0 1.4em;  
        }
    }

    &--mobile {
        display: none;
    }
}

.menu-mobile {
    display: none;
}

@media (max-width: $query-mobile) {
    .menu {
        display: inline-flex;
        width: 100%;
    }

    .menu-up {
        position: relative;
        top: 0;
        left: 0;
        width: 15%;

        &__list {     
            &--mobile {
                display: none;
            }
        }
    }

    .menu-down {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

        &__list {
            padding: 0;

            &__element{
                margin: 0;
                padding: 0;
                display: none;
            }

            &__title {
                display: none;
            }
        }
    }

    .menu-mobile {
        display: block;
        position: relative;
        top: 1em;
        right: 1em;

        &__burger {
            display: block;
            width: 3em;
            margin: 0.8em 0.5em 0 0;

            &__line {
                width: 35px;
                height: 3px;
                background-color: $productColor;
                margin: 6px 0;
            }
        }

        &__crop-image {
            flex: 0 1 auto;
            max-width: 40px;
            overflow: hidden;
        }

        &__text {
            height: 2em;
            margin: 0.3em 0 0 1em;
            @include add-arrow;
        }
    }
}