nav{
    box-sizing: border-box;
    width: 100%;
}

.navbar-up{
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-up-left{

}

.navbar-up-right{

}

.blue-button{
    background-color: $blue;
}

.navbar-down{

}

.navbar-menu-link{

}