.download {
    background-color: $backgroundColor;
    display: grid;
    grid-template-columns: 15% 40% 45%;
    grid-template-rows: repeat(6, 8em);
    grid-template-areas: ". . ."
    ". title picture"
    ". . picture"
    ". text picture"
    ". text picture"
    ". from .";
    grid-gap: 5px;
    overflow: hidden;
    &__title {
        padding: 0.3em;
        grid-area: title;
        font-family: 'Poppins';
        color: $productColor;
        font-size: 70px;
        line-height: 80px;
        font-weight: bold;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    &__picture {
        grid-area: picture;
        background: url("/assets/images/desks.png") no-repeat;
        background-size: inherit;
        margin-left: 3rem;
        &__image {
            position: relative;
            right: -12%;
            bottom: 12%;
        }
    }

    &__text {
        grid-area: text;
        font-size: 30px;
        line-height: 40px;
        padding: 0.5rem 1rem 2rem 1rem;
        text-align: left;
    }

    &__from {
        grid-area: from;
        display: inline-flex;
        justify-content: left;
        &__canvas {
            margin: 1rem;
            &__picture {
            }
        }
    }

}

@media (max-width: $query-mobile) {
    .download {
        grid-template-columns: 1fr;
        grid-template-rows: auto 60vw auto auto;
        grid-template-areas: "title" "picture" "text" "from";

        &__title {
            grid-template-rows: repeat(2, auto);
            font-size: 11vw;
        }

        &__picture{
            overflow: hidden;
            background-position: center center;
            background-size: 110% 110%;
            background-position-y: 17vw;
            background-position-x: -4.5vw;
            margin: 0;
            padding: 0;
            &__image {
                width: auto;
                height: 142%;
                right: -25%;
                bottom: 4%;
            }
        }
        
        &__text {
            padding: 1rem;
        }

        &__from {
            margin: 0;
            padding: 0;
            display: inline-flex;
            justify-content: center;
            &__canvas {
                margin: 1rem;
                &__picture {
                    width: 100%;
                }
            }
        }
    }
}
