.download {
    background-color: $backgroundColor;
    display: grid;
    grid-template-columns: 15% 40% 45%;
    grid-template-rows: repeat(6, 8em  );
    grid-template-areas: ". . ."
    ". title picture"
    ". . picture"
    ". text picture"
    ". text ."
    ". from .";
    grid-gap: 5px;
    overflow: hidden;
    &__title {
        grid-area: title;
        font-family: 'Poppins';
        color: $productColor;
        font-size: 70px;
        line-height: 80px;
        font-weight: bold;
        display: grid;
        &__list {
            list-style-type: none;
            &__element {
                list-style-type: none;
                display: inline;
            }
        }
    }

    &__picture {
        grid-area: picture;
        background: url("/assets/images/desks.png") no-repeat;
        background-size: 100% 100%;
        &__image {
            position: relative;
            right: -12%;
        }
    }

    &__text {
        grid-area: text;
        font-size: 30px;
        line-height: 40px;
        padding: 1em;
        text-align: left;
    }

    &__from {
        grid-area: from;
        margin-left: 2em;
        &__image {
            margin-right: 2em;
            display: inline-flex;
        }
    }

}

@media (max-width: $query-mobile) {
    .download {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "title" "picture" "text" "from";
    }
}

