.for-whom {
    background-color: $backgroundColor;
    width: 100%;
    &__wrapper {
        margin-left: 12%;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &__column {
            display: grid;
            grid-template-columns: 20em;
            grid-template-rows: repeat(2, 1fr);
            &__title {
                font-family: 'Poppins';
                font-size: 30px;
            }
            &__description {
                font-weight: 300;
                font-size: 17px;
            }
        }
    }
    &__dots-wrapper {
        display: none;
        &__dot {

        }
    }
}

@media (max-width: $query-mobile) {
    .for-whom {
        &__wrapper {
            padding-top: 3rem;
            &__column {
                display: none;
                &__title, &__description {
                    padding: 0 10% 0 12%;
                }
                // &__description {
                //     padding: 3rem;
                // }
                &--selected {
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                }
            }
        }
        &__dots-wrapper {
            @include dots-center-wrapper;
            &__dot {
                @include dots;
            }
        }
    }
}