.problem {
    background-color: $backgroundColor;
    &__wrapper {
        padding-top: 15em;
        overflow: hidden;
        &__container {
            width: 70%;
            padding-left: 16em;
            display: inline-flex;
        }
        &__section-name{
            @include section-name;
        }
    }
    &__dots-wrapper {
        display: none;
    }
}

.problem-container {
    &__column {
        background-color: $white;
        padding: 60px;
        display: grid;
        margin: 1em;
        &__image {
            margin: 0 auto;
        }
        &__title {

        }
        &__text {

        }
    }
}

@media (max-width: $query-mobile) {
    .problem {
        &__wrapper {
            padding-top: 3rem;
            &__container {
                background-color: $white;
                width: 100%;
                padding-left: 0; 
            }
            &__section-name {
                @include mobile-section-name;
            }
        }
        &__dots-wrapper {
            @include dots-center-wrapper;
            background-color: $white;
            margin-bottom: 1rem;
            &__dot{
                @include dots;
            }
        }
    }

    .problem-container {
        &__column {
            width: 100%;
            display: none;
            &--selected {
                display: grid;
            }  
            &__image {

            }
            &__title {

            }
            &__text {

            }
        }
    }
}