@mixin section-name {
    font-size: 17px;
    margin-left: 16%;
    font-weight: 400;
}

@mixin mobile-section-name {
    margin-left: 1rem;
}

@mixin dots-center-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

@mixin dots {
    height: 10px;
    width: 10px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin: 1rem 1% 0 1%;
    &--selected {
        background-color: $productColor;
    }
}

@mixin add-arrow {
    &--add-arrow {
        &:after {
            margin-left: 1rem;
            font-family: 'FontAwesome';
            content: '\f107';
        }
    }
}